<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primera pagina</title>
    <link href="style.css" rel="stylesheet">
  </head>
    <body>
      <header>
        <h3>Blog de linux</h3>
        <li>
          <ol>hola
          </ol>
        </li>
      </header>
      <main>

        <div class="texto">

          <img src="fotos/descarga.jpeg"class="linuxia" alt="Linux">
        </div>

        <h3>Que es Linux</h3>
        <p lang="es">Linux es un sistema operativo (SO) open source. En 1991, Linus Torvalds lo diseñó y creó a modo de pasatiempo. Mientras estaba en la universidad, intentó crear una versión open source, alternativa y gratuita del sistema operativo MINIX, que a su vez se basaba en los principios y el diseño de Unix. Ese pasatiempo logró convertirse en el SO con la mayor base de usuarios, el más usado en los servidores de Internet disponibles públicamente y en el único utilizado en las 500 supercomputadoras más rápidas.</p>
  
      
        <img src="fotos/Untitled.png" class="logo" alt="linux">
        <h3>Linux mint</h3>
        <p lang="es"><a href="//linuxmint.com/" target="_blank" rel="noopener noreferrer">linux Mint </a>es un sistema operativo muy moderno; su desarrollo inició en 2006. Sin embargo, está basado en capas de software muy maduras y aprobadas, incluyendo el kernel (núcleo) Linux, las herramientas GNU y el escritorio Cinnamon. También depende de los proyectos Ubuntu y Debian y usa sus sistemas como base. El proyecto de Linux Mint se enfoca en hacer el escritorio más usable y más eficiente para las tareas diarias realizadas por usuarios regulares. Debajo del escritorio el sistema operativo también provee una enorme colección de software disponible y un conjunto bien integrado de servicios. Linux Mint vio un rápido aumento de popularidad y cada vez más personas lo usan todos los días</p>

        <img src="fotos/descarga.png" class="logo" alt="Ubuntu">
        <h3>Ubuntu</h3>
        <p lang="es"><a  href="https://ubuntu.com/" target="_blank" rel="noopener noreferrer">Ubuntu</a> fue presentado en 2004 por la empresa británica Canonical. Se basaba en Debian -una distro muy popular por aquel entonces- que era difícil de instalar. Por ello, Ubuntu se propuso como una alternativa más fácil de usar.

          Como responsable de Ubuntu, Canonical se ocupa de lanzar una nueva versión de Ubuntu cada seis meses. Canonical también proporciona servidores de alojamiento para la Comunidad Ubuntu, lo que permite a personas de todo el mundo contribuir a probar los errores del software, responder preguntas y dar soporte técnico de forma gratuita</p>

      </main>
    <footer>
      <p>pie de pagina</p>
    </footer>
    </body>
</html>