<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primera pagina</title>
    <link href="style.css" rel="stylesheet">
  </head>
    <body>
      <main>
        <div >
          <h1>Linux</h1>
          <p>voy a hablar de  las distribuciones de linux</p>
          <img src="fotos/images.jpeg" alt="Linux">
          <h3>Que es Linux</h3>
        </div>
        <p lang="es">Linux es un sistema operativo (SO) open source. En 1991, Linus Torvalds lo diseñó y creó a modo de pasatiempo. Mientras estaba en la universidad, intentó crear una versión open source, alternativa y gratuita del sistema operativo MINIX, que a su vez se basaba en los principios y el diseño de Unix. Ese pasatiempo logró convertirse en el SO con la mayor base de usuarios, el más usado en los servidores de Internet disponibles públicamente y en el único utilizado en las 500 supercomputadoras más rápidas.</p>

        <ul>lista de distribuciones
          <li>linux mint</li>
          <li>Kali Linux</li>
        </ul>
      
        <img src="fotos/Untitled.png" alt="linux">
        
        <h4>Linux mint</h4>
        <p lang="es"><a href="//linuxmint.com/" target="_blank" rel="noopener noreferrer">linux Mint </a>es un sistema operativo muy moderno; su desarrollo inició en 2006. Sin embargo, está basado en capas de software muy maduras y aprobadas, incluyendo el kernel (núcleo) Linux, las herramientas GNU y el escritorio Cinnamon. También depende de los proyectos Ubuntu y Debian y usa sus sistemas como base. El proyecto de Linux Mint se enfoca en hacer el escritorio más usable y más eficiente para las tareas diarias realizadas por usuarios regulares. Debajo del escritorio el sistema operativo también provee una enorme colección de software disponible y un conjunto bien integrado de servicios. Linux Mint vio un rápido aumento de popularidad y cada vez más personas lo usan todos los días</p>
      </main>
    <footer>
      <p>pie de pagina</p>
    </footer>

    </body>
</html>